In [1]:
import table_plan

In [8]:
today = table_plan.Table()

In [10]:
today.table_data()

Enter the break_time_b_w_session in mins : 20
Enter the total sessions required : 6
Enter the any input select 0 for 4-12 or 1 for 5-12 or 2 for 6-12 or 3 for 12-9 : 1

In [14]:
data = today.read_csv()
data

,date,total_time_available(h),break_time_b_w_session(mins),total_work_time(h),total_sessions,morning_slots(12am - 11:59 am),afternoon_slots(12pm - 6pm),evening_slots(6pm-11:59pm),tiffin_break(mins),lunch_break(mins),snacks_break(mins),dinner_break(mins),entertainment_time(h),time_per_slot(mins)
0,2023-06-05,16,20,11.0,6,5:00 am - 12:00 pm,12:00 pm - 6:00 pm,6:00 pm - 9:00 pm,30,30,30,30,60,110.0

In [13]:
data.loc[0]

date                                      2023-06-05
total_time_available(h)                           16
break_time_b_w_session(mins)                      20
total_work_time(h)                              11.0
total_sessions                                     6
morning_slots(12am - 11:59 am)    5:00 am - 12:00 pm
afternoon_slots(12pm - 6pm)       12:00 pm - 6:00 pm
evening_slots(6pm-11:59pm)         6:00 pm - 9:00 pm
tiffin_break(mins)                                30
lunch_break(mins)                                 30
snacks_break(mins)                                30
dinner_break(mins)                                30
entertainment_time(h)                             60
time_per_slot(mins)                            110.0
Name: 0, dtype: object